<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页 - 考拉问答平台</title>
	<link rel="stylesheet" href="css/bootstrap.min.css"></head>
<body>
	<!-- 导航条开始 -->
	<% include ./includes/nav.ejs %>
	<!-- 导航条结束 -->

	<div class="container mt-4">
		<h1>我是首页</h1>
		 
	</div>

	<script type="text/javascript" src="js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="js/lib/popper.min.js"></script>
	<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
 
</body>
</html>