<div class="container-fluid">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">考拉问答平台</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item <%= column == 'index' && 'active' %>">
					<a class="nav-link" href="#">首页</a>
				</li>
			</ul>
			<div class="my-2 my-lg-0">
				<ul class="navbar-nav mr-auto">
					<% if(!login){ %>
						<li class="nav-item <%= column == 'login' && 'active' %>">
							<a class="nav-link" href="/login">登录</a>
						</li>
						<li class="nav-item <%= column == 'regist' && 'active' %>">
							<a class="nav-link" href="/regist">注册</a>
						</li>
					<% } else {%>
						<li>欢迎 <%=email%>！</li>
					<% } %>
				</ul>
			</div>
		</div>
	</nav>
</div>